@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Body */

body {
  background-color: #f1f1f3;
  font-family: "Fira Sans", serif;
  margin: 0;
  padding: 0;
}

header,
main {
  padding: 0 160px;
}

/* Reusable */

.btn {
  font-family: "Fira Sans", serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  background-color: #006a50;
  border: none;
  border-radius: 8px;
  padding: 17px 34px;
}

.btn:hover {
  background-color: #03bd8ff9;
  cursor: pointer;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.white-card {
  border: 2px solid #0e0e0e17;
  background-color: #ffffff;
  border-radius: 16px;
}

.card {
  border-radius: 16px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #0e0e0e;
  opacity: 80%;
  margin: 24px 0 12px 0;
}

.card-description,
.section-description {
  font-size: 16px;
  line-height: 24px;
  color: #0e0e0e;
  opacity: 70%;
  margin: 0;
}

/* Nav-Bar */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.nav-bar .nav-title {
  font-size: 32px;
  font-weight: bold;
}

.nav-bar .nav-btn {
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
}

.nav-btn:hover {
  background-color: #c6e4d6;
}

.nav-bar .nav-btn a {
  text-decoration: none;
  color: #006a50;
  font-size: 18px;
  font-weight: 700;
}

/* Banner */

.banner {
  display: flex;
  justify-content: space-between;
  background-color: #c6e4d6;
  border: none;
  border-radius: 24px;
  padding: 80px 60px;
}

.banner .banner-content {
  width: 622px;
  min-height: 326px;
}

.banner-title {
  color: #0e0e0e;
  opacity: 50%;
  font-size: 24px;
  font-weight: 600;
}

.banner-description {
  font-size: 56px;
  font-weight: bold;
  margin-top: 24px;
}

.banner img {
  width: 474px;
  min-height: 400px;
}

.banner-btn {
  margin-top: 8px;
}

/* main */

section {
  margin: 80px 0;
}

/* Pillar Section */

.pillar .pillar-heading {
  margin-bottom: 32px;
}

.pillar .pillar-card {
  width: 302px;
  min-height: 245px;
  padding: 24px;
}

.pillar-card:hover {
  background-color: #a5a5a5;
}

/* Vision Section */

.vision-section-description {
  margin: 0;
}

.vision-card-container {
  margin: 32px 0;
}

.vision-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  width: 411px;
  min-height: 260px;
  padding: 32px;
}

.vision-card-1 {
  background-color: #548ff548;
}

.vision-card-2 {
  background-color: #c6e4d6;
}

.vision-card-3 {
  background-color: #f7ebcf;
}

.vision-btn {
  padding: 11px 20px;
}

.vision-btn-1 {
  background-color: #5490f5;
}

.vision-btn-1:hover {
  background-color: #0344b3;
  cursor: pointer;
}

.vision-btn-2 {
  background-color: #09a15c;
}

.vision-btn-2:hover {
  background-color: #01552f;
  cursor: pointer;
}

.vision-btn-3 {
  background-color: #ffc239;
}

.vision-btn-3:hover {
  background-color: #b07c02;
  cursor: pointer;
}

/* Quote card */

.quote-card {
  margin-top: 0px;
}

.quote-card .quote-background {
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  margin: 25px 0 25px 24px;
}

.quote-card .quote-content {
  padding: 23px 0;
}

.quote-card .quote-content .quote {
  color: #0e0e0e;
  opacity: 80%;
  margin-bottom: 12px;
}

.quote-card .quote-content .vision-quote-title {
  margin: 0;
}

.quote-card .quote-content .vision-quote-description {
  margin-top: 4px;
}

/* Opinion section */

.opinion-card {
  border: none;
  padding: 32px;
}

table {
  color: #0e0e0e;
  width: 100%;
  border: 1px solid #0e0e0e20;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #0e0e0e20;
  padding: 24px;
}

thead {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  background-color: #c6e4d6;
}

.question-head {
  border-right: none;
  width: 81%;
}

.answer-head {
  border-left: none;
}

tbody {
  border: 1px solid #0e0e0e20;
  font-size: 16px;
  font-weight: 700;
}

.question {
  width: 81%;
}

.answer {
  text-align: center;
}

select {
  padding: 10px 14px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  background-color: #c6e4d6;
}

select:hover {
  background-color: #59c392;
  cursor: pointer;
}

/* Recent News */

.news-card-container {
  margin: 32px 0 24px 0;
}

.news-card-container .news-card {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 48px;
  gap: 32px;
}

.news-card-container .news-card .img-container > img {
  border-radius: 24px;
}

.news-card-container .news-card .card-head > img {
  margin: 12px 0;
}

.news-card-container .news-card .news-card-title {
  color: #0e0e0e;
  opacity: 80%;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.news-card-container .news-card .publish {
  display: flex;
  gap: 12px;
}

.news-card-container .news-card .news-card-description {
  margin: 12px 0 32px 0;
}

/* Donation section */

.donation {
  text-align: center;
  padding: 0 88px;
}

.donation-title {
  margin-bottom: 24px;
}

.donation-description {
  margin: 0;
}

.amount-card-container {
  display: flex;
  justify-content: space-around;
  margin: 32px 0;
}

.amount-card {
  padding: 40px;
}

.amount-card:hover {
  background-color: #c6e4d6;
  cursor: pointer;
}

.amount {
  color: #0e0e0e;
  opacity: 80%;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

#donation-input {
  padding: 20px 40px;
  width: 87%;
  text-align: center;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #0e0e0e23;
  margin-bottom: 32px;
}

/* Newsletter section */

.newsletter {
  text-align: center;
  background-color: #c6e4d6;
  border: none;
  border-radius: 24px;
  padding: 80px 100px;
}

.newsletter-title {
  margin: 0;
}

.newsletter-description {
  padding: 0 230px;
  margin: 16px 0 24px 0;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

#subscription {
  width: 50%;
  margin-right: 0;
  padding: 18px 40px;
  border: none;
  border-radius: 8px 0 0 8px;
}

.subscribe-btn {
  margin-left: 0;
  padding: 15px 34px;
  border-radius: 0 8px 8px 0;
}

/* footer */

footer {
  text-align: center;
  background-color: #ffffff;
  padding: 50px 160px;
}

.foot-title {
  margin-bottom: 32px;
}

hr {
  border: 1px solid #0e0e0e10;
  margin-bottom: 32px;
}

.logo {
  margin: 0 11px;
}

.logo:hover {
  cursor: pointer;
}
